# General functions

In [22]:
import pandas as pd
import numpy as np

## pandas.melt

In [3]:
df = pd.DataFrame({'A' : {0: 'a', 1: 'b', 2: 'c'},
                  'B' : {0: 1, 1: 2, 2: 3},
                  'C' : {0: 2, 1: 4, 2: 6}})

df

   A  B  C
0  a  1  2
1  b  2  4
2  c  3  6

In [4]:
df_melt = pd.melt(df, id_vars = ['A'], value_vars = ['B','C'])

In [5]:
df_melt

   A variable  value
0  a        B      1
1  b        B      2
2  c        B      3
3  a        C      2
4  b        C      4
5  c        C      6

## pandas.pivot

In [6]:
df = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

In [7]:
df

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t

In [17]:
df.pivot(index = "foo", columns = "bar", values = ["baz", "zoo"])

    baz       zoo
bar   A  B  C   A  B  C
foo
one   1  2  3   x  y  z
two   4  5  6   q  w  t

In [18]:
df.pivot(index = "foo", columns = ["bar","baz"], values = ["zoo"])

     zoo
bar    A    B    C    A    B    C
baz    1    2    3    4    5    6
foo
one    x    y    z  NaN  NaN  NaN
two  NaN  NaN  NaN    q    w    t

In [19]:
df.pivot(index = ["foo","baz"], columns = ["bar"], values = ["zoo"])

         zoo
bar        A    B    C
foo baz
one 1      x  NaN  NaN
    2    NaN    y  NaN
    3    NaN  NaN    z
two 4      q  NaN  NaN
    5    NaN    w  NaN
    6    NaN  NaN    t

## pandas.pivot_table

In [25]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df

     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

In [23]:
table = pd.pivot_table(df, values = "D", index = ['A', 'B'], columns = ['C'],aggfunc = np.sum)

In [24]:
table

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

In [29]:
# handling NaN value
table = pd.pivot_table(df, values = ["D",'E'], index = ['A', 'B'], columns = ['C'],aggfunc = np.sum, fill_value = 0)
table

            D           E
C       large small large small
A   B
bar one     4     5     6     8
    two     7     6     9     9
foo one     4     1     9     2
    two     0     6     0    11

In [28]:
table = pd.pivot_table(df, values = ["D", "E"], index = ['A','C'], aggfunc = {'D': np.mean , 'E':np.sum})
table

                  D   E
A   C
bar large  5.500000  15
    small  5.500000  17
foo large  2.000000   9
    small  2.333333  13

In [30]:
type(table)

pandas.core.frame.DataFrame

## pandas.crosstab

In [31]:
a = np.array(["foo", "foo", "foo", "foo", "bar", "bar",
              "bar", "bar", "foo", "foo", "foo"], dtype=object)
b = np.array(["one", "one", "one", "two", "one", "one",
              "one", "two", "two", "two", "one"], dtype=object)
c = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny",
              "shiny", "dull", "shiny", "shiny", "shiny"],
             dtype=object)
pd.crosstab(a, [b, c], rownames=['a'], colnames=['b', 'c'])

b    one        two
c   dull shiny dull shiny
a
bar    1     2    1     0
foo    2     2    1     2

In [32]:
foo = pd.Categorical(['a', 'b'], categories=['a', 'b', 'c'])
bar = pd.Categorical(['d', 'e'], categories=['d', 'e', 'f'])
pd.crosstab(foo, bar)

col_0  d  e
row_0
a      1  0
b      0  1

In [39]:
help(pd.core.arrays.categorical.Categorical)

Help on class Categorical in module pandas.core.arrays.categorical:

class Categorical(pandas.core.arrays._mixins.NDArrayBackedExtensionArray, pandas.core.base.PandasObject, pandas.core.strings.object_array.ObjectStringArrayMixin)
 |  Categorical(values, categories=None, ordered=None, dtype: 'Dtype | None' = None, fastpath: 'bool' = False, copy: 'bool' = True)
 |
 |  Represent a categorical variable in classic R / S-plus fashion.
 |
 |  `Categoricals` can only take on only a limited, and usually fixed, number
 |  of possible values (`categories`). In contrast to statistical categorical
 |  variables, a `Categorical` might have an order, but numerical operations
 |  (additions, divisions, ...) are not possible.
 |
 |  All values of the `Categorical` are either in `categories` or `np.nan`.
 |  Assigning values outside of `categories` will raise a `ValueError`. Order
 |  is defined by the order of the `categories`, not lexical order of the
 |  values.
 |
 |  Parameters
 |  ----------
 |  values : list-like
 |      The values of the categorical. If categories are given, values not in
 |      categories will be replaced with NaN.
 |  categories : Index-like (unique), optional
 |      The unique categories for this categorical. If not given, the
 |      categories are assumed to be the unique values of `values` (sorted, if
 |      possible, otherwise in the order in which they appear).
 |  ordered : bool, default False
 |      Whether or not this categorical is treated as a ordered categorical.
 |      If True, the resulting categorical will be ordered.
 |      An ordered categorical respects, when sorted, the order of its
 |      `categories` attribute (which in turn is the `categories` argument, if
 |      provided).
 |  dtype : CategoricalDtype
 |      An instance of ``CategoricalDtype`` to use for this categorical.
 |
 |  Attributes
 |  ----------
 |  categories : Index
 |      The categories of this categorical
 |  codes : ndarray
 |      The codes (integer positions, which point to the categories) of this
 |      categorical, read only.
 |  ordered : bool
 |      Whether or not this Categorical is ordered.
 |  dtype : CategoricalDtype
 |      The instance of ``CategoricalDtype`` storing the ``categories``
 |      and ``ordered``.
 |
 |  Methods
 |  -------
 |  from_codes
 |  __array__
 |
 |  Raises
 |  ------
 |  ValueError
 |      If the categories do not validate.
 |  TypeError
 |      If an explicit ``ordered=True`` is given but no `categories` and the
 |      `values` are not sortable.
 |
 |  See Also
 |  --------
 |  CategoricalDtype : Type for categorical data.
 |  CategoricalIndex : An Index with an underlying ``Categorical``.
 |
 |  Notes
 |  -----
 |  See the `user guide
 |  <https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html>`__
 |  for more.
 |
 |  Examples
 |  --------
 |  >>> pd.Categorical([1, 2, 3, 1, 2, 3])
 |  [1, 2, 3, 1, 2, 3]
 |  Categories (3, int64): [1, 2, 3]
 |
 |  >>> pd.Categorical(['a', 'b', 'c', 'a', 'b', 'c'])
 |  ['a', 'b', 'c', 'a', 'b', 'c']
 |  Categories (3, object): ['a', 'b', 'c']
 |
 |  Missing values are not included as a category.
 |
 |  >>> c = pd.Categorical([1, 2, 3, 1, 2, 3, np.nan])
 |  >>> c
 |  [1, 2, 3, 1, 2, 3, NaN]
 |  Categories (3, int64): [1, 2, 3]
 |
 |  However, their presence is indicated in the `codes` attribute
 |  by code `-1`.
 |
 |  >>> c.codes
 |  array([ 0,  1,  2,  0,  1,  2, -1], dtype=int8)
 |
 |  Ordered `Categoricals` can be sorted according to the custom order
 |  of the categories and can have a min and max value.
 |
 |  >>> c = pd.Categorical(['a', 'b', 'c', 'a', 'b', 'c'], ordered=True,
 |  ...                    categories=['c', 'b', 'a'])
 |  >>> c
 |  ['a', 'b', 'c', 'a', 'b', 'c']
 |  Categories (3, object): ['c' < 'b' < 'a']
 |  >>> c.min()
 |  'c'
 |
 |  Method resolution order:
 |      Categorical
 |      pandas.core.arrays._mixins.NDArrayBackedExtensionArray
 |      pandas._libs.arrays.NDArrayBacked
 |      pandas.core.arrays.base.ExtensionArray
 |      pandas.core.base.PandasObject
 |      pandas.core.accessor.DirNamesMixin
 |      pandas.core.strings.object_array.ObjectStringArrayMixin
 |      pandas.core.strings.base.BaseStringArrayMethods
 |      abc.ABC
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __array__(self, dtype: 'NpDtype | None' = None) -> 'np.ndarray'
 |      The numpy array interface.
 |
 |      Returns
 |      -------
 |      numpy.array
 |          A numpy array of either the specified dtype or,
 |          if dtype==None (default), the same dtype as
 |          categorical.categories.dtype.
 |
 |  __array_ufunc__(self, ufunc: 'np.ufunc', method: 'str', *inputs, **kwargs)
 |
 |  __contains__(self, key) -> 'bool'
 |      Returns True if `key` is in this Categorical.
 |
 |  __eq__(self, other)
 |
 |  __ge__(self, other)
 |
 |  __gt__(self, other)
 |
 |  __init__(self, values, categories=None, ordered=None, dtype: 'Dtype | None' = None, fastpath: 'bool' = False, copy: 'bool' = True)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self)
 |      Returns an Iterator over the values of this Categorical.
 |
 |  __le__(self, other)
 |
 |  __lt__(self, other)
 |
 |  __ne__(self, other)
 |
 |  __repr__(self) -> 'str'
 |      String representation.
 |
 |  __setstate__(self, state)
 |      Necessary for making this object picklable
 |
 |  add_categories(self, new_categories, inplace=<no_default>)
 |      Add new categories.
 |
 |      `new_categories` will be included at the last/highest place in the
 |      categories and will be unused directly after this call.
 |
 |      Parameters
 |      ----------
 |      new_categories : category or list-like of category
 |         The new categories to be included.
 |      inplace : bool, default False
 |         Whether or not to add the categories inplace or return a copy of
 |         this categorical with added categories.
 |
 |         .. deprecated:: 1.3.0
 |
 |      Returns
 |      -------
 |      cat : Categorical or None
 |          Categorical with new categories added or None if ``inplace=True``.
 |
 |      Raises
 |      ------
 |      ValueError
 |          If the new categories include old categories or do not validate as
 |          categories
 |
 |      See Also
 |      --------
 |      rename_categories : Rename categories.
 |      reorder_categories : Reorder categories.
 |      remove_categories : Remove the specified categories.
 |      remove_unused_categories : Remove categories which are not used.
 |      set_categories : Set the categories to the specified ones.
 |
 |      Examples
 |      --------
 |      >>> c = pd.Categorical(['c', 'b', 'c'])
 |      >>> c
 |      ['c', 'b', 'c']
 |      Categories (2, object): ['b', 'c']
 |
 |      >>> c.add_categories(['d', 'a'])
 |      ['c', 'b', 'c']
 |      Categories (4, object): ['b', 'c', 'd', 'a']
 |
 |  argsort(self, ascending=True, kind='quicksort', **kwargs)
 |      Return the indices that would sort the Categorical.
 |
 |      .. versionchanged:: 0.25.0
 |
 |         Changed to sort missing values at the end.
 |
 |      Parameters
 |      ----------
 |      ascending : bool, default True
 |          Whether the indices should result in an ascending
 |          or descending sort.
 |      kind : {'quicksort', 'mergesort', 'heapsort', 'stable'}, optional
 |          Sorting algorithm.
 |      **kwargs:
 |          passed through to :func:`numpy.argsort`.
 |
 |      Returns
 |      -------
 |      np.ndarray[np.intp]
 |
 |      See Also
 |      --------
 |      numpy.ndarray.argsort
 |
 |      Notes
 |      -----
 |      While an ordering is applied to the category values, arg-sorting
 |      in this context refers more to organizing and grouping together
 |      based on matching category values. Thus, this function can be
 |      called on an unordered Categorical instance unlike the functions
 |      'Categorical.min' and 'Categorical.max'.
 |
 |      Examples
 |      --------
 |      >>> pd.Categorical(['b', 'b', 'a', 'c']).argsort()
 |      array([2, 0, 1, 3])
 |
 |      >>> cat = pd.Categorical(['b', 'b', 'a', 'c'],
 |      ...                      categories=['c', 'b', 'a'],
 |      ...                      ordered=True)
 |      >>> cat.argsort()
 |      array([3, 0, 1, 2])
 |
 |      Missing values are placed at the end
 |
 |      >>> cat = pd.Categorical([2, None, 1])
 |      >>> cat.argsort()
 |      array([2, 0, 1])
 |
 |  as_ordered(self, inplace=False)
 |      Set the Categorical to be ordered.
 |
 |      Parameters
 |      ----------
 |      inplace : bool, default False
 |         Whether or not to set the ordered attribute in-place or return
 |         a copy of this categorical with ordered set to True.
 |
 |      Returns
 |      -------
 |      Categorical or None
 |          Ordered Categorical or None if ``inplace=True``.
 |
 |  as_unordered(self, inplace=False)
 |      Set the Categorical to be unordered.
 |
 |      Parameters
 |      ----------
 |      inplace : bool, default False
 |         Whether or not to set the ordered attribute in-place or return
 |         a copy of this categorical with ordered set to False.
 |
 |      Returns
 |      -------
 |      Categorical or None
 |          Unordered Categorical or None if ``inplace=True``.
 |
 |  astype(self, dtype: 'AstypeArg', copy: 'bool' = True) -> 'ArrayLike'
 |      Coerce this type to another dtype
 |
 |      Parameters
 |      ----------
 |      dtype : numpy dtype or pandas type
 |      copy : bool, default True
 |          By default, astype always returns a newly allocated object.
 |          If copy is set to False and dtype is categorical, the original
 |          object is returned.
 |
 |  check_for_ordered(self, op)
 |      assert that we are ordered
 |
 |  describe(self)
 |      Describes this Categorical
 |
 |      Returns
 |      -------
 |      description: `DataFrame`
 |          A dataframe with frequency and counts by category.
 |
 |  equals(self, other: 'object') -> 'bool'
 |      Returns True if categorical arrays are equal.
 |
 |      Parameters
 |      ----------
 |      other : `Categorical`
 |
 |      Returns
 |      -------
 |      bool
 |
 |  is_dtype_equal(self, other) -> 'bool'
 |
 |  isin(self, values) -> 'npt.NDArray[np.bool_]'
 |      Check whether `values` are contained in Categorical.
 |
 |      Return a boolean NumPy Array showing whether each element in
 |      the Categorical matches an element in the passed sequence of
 |      `values` exactly.
 |
 |      Parameters
 |      ----------
 |      values : set or list-like
 |          The sequence of values to test. Passing in a single string will
 |          raise a ``TypeError``. Instead, turn a single string into a
 |          list of one element.
 |
 |      Returns
 |      -------
 |      np.ndarray[bool]
 |
 |      Raises
 |      ------
 |      TypeError
 |        * If `values` is not a set or list-like
 |
 |      See Also
 |      --------
 |      pandas.Series.isin : Equivalent method on Series.
 |
 |      Examples
 |      --------
 |      >>> s = pd.Categorical(['lama', 'cow', 'lama', 'beetle', 'lama',
 |      ...                'hippo'])
 |      >>> s.isin(['cow', 'lama'])
 |      array([ True,  True,  True, False,  True, False])
 |
 |      Passing a single string as ``s.isin('lama')`` will raise an error. Use
 |      a list of one element instead:
 |
 |      >>> s.isin(['lama'])
 |      array([ True, False,  True, False,  True, False])
 |
 |  isna(self) -> 'np.ndarray'
 |      Detect missing values
 |
 |      Missing values (-1 in .codes) are detected.
 |
 |      Returns
 |      -------
 |      np.ndarray[bool] of whether my values are null
 |
 |      See Also
 |      --------
 |      isna : Top-level isna.
 |      isnull : Alias of isna.
 |      Categorical.notna : Boolean inverse of Categorical.isna.
 |
 |  isnull = isna(self) -> 'np.ndarray'
 |
 |  map(self, mapper)
 |      Map categories using an input mapping or function.
 |
 |      Maps the categories to new categories. If the mapping correspondence is
 |      one-to-one the result is a :class:`~pandas.Categorical` which has the
 |      same order property as the original, otherwise a :class:`~pandas.Index`
 |      is returned. NaN values are unaffected.
 |
 |      If a `dict` or :class:`~pandas.Series` is used any unmapped category is
 |      mapped to `NaN`. Note that if this happens an :class:`~pandas.Index`
 |      will be returned.
 |
 |      Parameters
 |      ----------
 |      mapper : function, dict, or Series
 |          Mapping correspondence.
 |
 |      Returns
 |      -------
 |      pandas.Categorical or pandas.Index
 |          Mapped categorical.
 |
 |      See Also
 |      --------
 |      CategoricalIndex.map : Apply a mapping correspondence on a
 |          :class:`~pandas.CategoricalIndex`.
 |      Index.map : Apply a mapping correspondence on an
 |          :class:`~pandas.Index`.
 |      Series.map : Apply a mapping correspondence on a
 |          :class:`~pandas.Series`.
 |      Series.apply : Apply more complex functions on a
 |          :class:`~pandas.Series`.
 |
 |      Examples
 |      --------
 |      >>> cat = pd.Categorical(['a', 'b', 'c'])
 |      >>> cat
 |      ['a', 'b', 'c']
 |      Categories (3, object): ['a', 'b', 'c']
 |      >>> cat.map(lambda x: x.upper())
 |      ['A', 'B', 'C']
 |      Categories (3, object): ['A', 'B', 'C']
 |      >>> cat.map({'a': 'first', 'b': 'second', 'c': 'third'})
 |      ['first', 'second', 'third']
 |      Categories (3, object): ['first', 'second', 'third']
 |
 |      If the mapping is one-to-one the ordering of the categories is
 |      preserved:
 |
 |      >>> cat = pd.Categorical(['a', 'b', 'c'], ordered=True)
 |      >>> cat
 |      ['a', 'b', 'c']
 |      Categories (3, object): ['a' < 'b' < 'c']
 |      >>> cat.map({'a': 3, 'b': 2, 'c': 1})
 |      [3, 2, 1]
 |      Categories (3, int64): [3 < 2 < 1]
 |
 |      If the mapping is not one-to-one an :class:`~pandas.Index` is returned:
 |
 |      >>> cat.map({'a': 'first', 'b': 'second', 'c': 'first'})
 |      Index(['first', 'second', 'first'], dtype='object')
 |
 |      If a `dict` is used, all unmapped categories are mapped to `NaN` and
 |      the result is an :class:`~pandas.Index`:
 |
 |      >>> cat.map({'a': 'first', 'b': 'second'})
 |      Index(['first', 'second', nan], dtype='object')
 |
 |  max(self, *, skipna=True, **kwargs)
 |      The maximum value of the object.
 |
 |      Only ordered `Categoricals` have a maximum!
 |
 |      .. versionchanged:: 1.0.0
 |
 |         Returns an NA value on empty arrays
 |
 |      Raises
 |      ------
 |      TypeError
 |          If the `Categorical` is not `ordered`.
 |
 |      Returns
 |      -------
 |      max : the maximum of this `Categorical`
 |
 |  memory_usage(self, deep: 'bool' = False) -> 'int'
 |      Memory usage of my values
 |
 |      Parameters
 |      ----------
 |      deep : bool
 |          Introspect the data deeply, interrogate
 |          `object` dtypes for system-level memory consumption
 |
 |      Returns
 |      -------
 |      bytes used
 |
 |      Notes
 |      -----
 |      Memory usage does not include memory consumed by elements that
 |      are not components of the array if deep=False
 |
 |      See Also
 |      --------
 |      numpy.ndarray.nbytes
 |
 |  min(self, *, skipna=True, **kwargs)
 |      The minimum value of the object.
 |
 |      Only ordered `Categoricals` have a minimum!
 |
 |      .. versionchanged:: 1.0.0
 |
 |         Returns an NA value on empty arrays
 |
 |      Raises
 |      ------
 |      TypeError
 |          If the `Categorical` is not `ordered`.
 |
 |      Returns
 |      -------
 |      min : the minimum of this `Categorical`
 |
 |  mode(self, dropna: 'bool' = True) -> 'Categorical'
 |      Returns the mode(s) of the Categorical.
 |
 |      Always returns `Categorical` even if only one value.
 |
 |      Parameters
 |      ----------
 |      dropna : bool, default True
 |          Don't consider counts of NaN/NaT.
 |
 |      Returns
 |      -------
 |      modes : `Categorical` (sorted)
 |
 |  notna(self) -> 'np.ndarray'
 |      Inverse of isna
 |
 |      Both missing values (-1 in .codes) and NA as a category are detected as
 |      null.
 |
 |      Returns
 |      -------
 |      np.ndarray[bool] of whether my values are not null
 |
 |      See Also
 |      --------
 |      notna : Top-level notna.
 |      notnull : Alias of notna.
 |      Categorical.isna : Boolean inverse of Categorical.notna.
 |
 |  notnull = notna(self) -> 'np.ndarray'
 |
 |  remove_categories(self, removals, inplace=<no_default>)
 |      Remove the specified categories.
 |
 |      `removals` must be included in the old categories. Values which were in
 |      the removed categories will be set to NaN
 |
 |      Parameters
 |      ----------
 |      removals : category or list of categories
 |         The categories which should be removed.
 |      inplace : bool, default False
 |         Whether or not to remove the categories inplace or return a copy of
 |         this categorical with removed categories.
 |
 |         .. deprecated:: 1.3.0
 |
 |      Returns
 |      -------
 |      cat : Categorical or None
 |          Categorical with removed categories or None if ``inplace=True``.
 |
 |      Raises
 |      ------
 |      ValueError
 |          If the removals are not contained in the categories
 |
 |      See Also
 |      --------
 |      rename_categories : Rename categories.
 |      reorder_categories : Reorder categories.
 |      add_categories : Add new categories.
 |      remove_unused_categories : Remove categories which are not used.
 |      set_categories : Set the categories to the specified ones.
 |
 |      Examples
 |      --------
 |      >>> c = pd.Categorical(['a', 'c', 'b', 'c', 'd'])
 |      >>> c
 |      ['a', 'c', 'b', 'c', 'd']
 |      Categories (4, object): ['a', 'b', 'c', 'd']
 |
 |      >>> c.remove_categories(['d', 'a'])
 |      [NaN, 'c', 'b', 'c', NaN]
 |      Categories (2, object): ['b', 'c']
 |
 |  remove_unused_categories(self, inplace=<no_default>)
 |      Remove categories which are not used.
 |
 |      Parameters
 |      ----------
 |      inplace : bool, default False
 |         Whether or not to drop unused categories inplace or return a copy of
 |         this categorical with unused categories dropped.
 |
 |         .. deprecated:: 1.2.0
 |
 |      Returns
 |      -------
 |      cat : Categorical or None
 |          Categorical with unused categories dropped or None if ``inplace=True``.
 |
 |      See Also
 |      --------
 |      rename_categories : Rename categories.
 |      reorder_categories : Reorder categories.
 |      add_categories : Add new categories.
 |      remove_categories : Remove the specified categories.
 |      set_categories : Set the categories to the specified ones.
 |
 |      Examples
 |      --------
 |      >>> c = pd.Categorical(['a', 'c', 'b', 'c', 'd'])
 |      >>> c
 |      ['a', 'c', 'b', 'c', 'd']
 |      Categories (4, object): ['a', 'b', 'c', 'd']
 |
 |      >>> c[2] = 'a'
 |      >>> c[4] = 'c'
 |      >>> c
 |      ['a', 'c', 'a', 'c', 'c']
 |      Categories (4, object): ['a', 'b', 'c', 'd']
 |
 |      >>> c.remove_unused_categories()
 |      ['a', 'c', 'a', 'c', 'c']
 |      Categories (2, object): ['a', 'c']
 |
 |  rename_categories(self, new_categories, inplace=<no_default>)
 |      Rename categories.
 |
 |      Parameters
 |      ----------
 |      new_categories : list-like, dict-like or callable
 |
 |          New categories which will replace old categories.
 |
 |          * list-like: all items must be unique and the number of items in
 |            the new categories must match the existing number of categories.
 |
 |          * dict-like: specifies a mapping from
 |            old categories to new. Categories not contained in the mapping
 |            are passed through and extra categories in the mapping are

In [40]:
help(pd.crosstab)

Help on function crosstab in module pandas.core.reshape.pivot:

crosstab(index, columns, values=None, rownames=None, colnames=None, aggfunc=None, margins: 'bool' = False, margins_name: 'str' = 'All', dropna: 'bool' = True, normalize=False) -> 'DataFrame'
    Compute a simple cross tabulation of two (or more) factors. By default
    computes a frequency table of the factors unless an array of values and an
    aggregation function are passed.

    Parameters
    ----------
    index : array-like, Series, or list of arrays/Series
        Values to group by in the rows.
    columns : array-like, Series, or list of arrays/Series
        Values to group by in the columns.
    values : array-like, optional
        Array of values to aggregate according to the factors.
        Requires `aggfunc` be specified.
    rownames : sequence, default None
        If passed, must match number of row arrays passed.
    colnames : sequence, default None
        If passed, must match number of column arrays passed.
    aggfunc : function, optional
        If specified, requires `values` be specified as well.
    margins : bool, default False
        Add row/column margins (subtotals).
    margins_name : str, default 'All'
        Name of the row/column that will contain the totals
        when margins is True.
    dropna : bool, default True
        Do not include columns whose entries are all NaN.
    normalize : bool, {'all', 'index', 'columns'}, or {0,1}, default False
        Normalize by dividing all values by the sum of values.

        - If passed 'all' or `True`, will normalize over all values.
        - If passed 'index' will normalize over each row.
        - If passed 'columns' will normalize over each column.
        - If margins is `True`, will also normalize margin values.

    Returns
    -------
    DataFrame
        Cross tabulation of the data.

    See Also
    --------
    DataFrame.pivot : Reshape data based on column values.
    pivot_table : Create a pivot table as a DataFrame.

    Notes
    -----
    Any Series passed will have their name attributes used unless row or column
    names for the cross-tabulation are specified.

    Any input passed containing Categorical data will have **all** of its
    categories included in the cross-tabulation, even if the actual data does
    not contain any instances of a particular category.

    In the event that there aren't overlapping indexes an empty DataFrame will
    be returned.

    Reference :ref:`the user guide <reshaping.crosstabulations>` for more examples.

    Examples
    --------
    >>> a = np.array(["foo", "foo", "foo", "foo", "bar", "bar",
    ...               "bar", "bar", "foo", "foo", "foo"], dtype=object)
    >>> b = np.array(["one", "one", "one", "two", "one", "one",
    ...               "one", "two", "two", "two", "one"], dtype=object)
    >>> c = np.array(["dull", "dull", "shiny", "dull", "dull", "shiny",
    ...               "shiny", "dull", "shiny", "shiny", "shiny"],
    ...              dtype=object)
    >>> pd.crosstab(a, [b, c], rownames=['a'], colnames=['b', 'c'])
    b   one        two
    c   dull shiny dull shiny
    a
    bar    1     2    1     0
    foo    2     2    1     2

    Here 'c' and 'f' are not represented in the data and will not be
    shown in the output because dropna is True by default. Set
    dropna=False to preserve categories with no data.

    >>> foo = pd.Categorical(['a', 'b'], categories=['a', 'b', 'c'])
    >>> bar = pd.Categorical(['d', 'e'], categories=['d', 'e', 'f'])
    >>> pd.crosstab(foo, bar)
    col_0  d  e
    row_0
    a      1  0
    b      0  1
    >>> pd.crosstab(foo, bar, dropna=False)
    col_0  d  e  f
    row_0
    a      1  0  0
    b      0  1  0
    c      0  0  0

## pandas .cut

In [41]:
pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3)

[(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], (0.994, 3.0]]
Categories (3, interval[float64, right]): [(0.994, 3.0] < (3.0, 5.0] < (5.0, 7.0]]

In [42]:
type(pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3))

pandas.core.arrays.categorical.Categorical